---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Screen from '@/components/Screen.astro';
import SideNavigation from '@/components/SideNavigation.astro';
import MainContent from '@/components/MainContent.astro';
import MiddleArea from '@/components/MiddleArea.astro';
import RightSidebar from '@/components/RightSidebar.astro';
import Highlight from '@/components/Highlight.astro';
import WidgetNewsletter from '@/components/WidgetNewsletter.astro';
import WidgetSponsor from '@/components/WidgetSponsor.astro';
import ParagraphFromCms from '@/components/ParagraphFromCms.astro';
import { getPageContentAsMarkdownById } from '@/lib/contentFetcher.js';

const content = await getPageContentAsMarkdownById('8df3801c8eab41b880457de0af11cccd');
---

<BaseLayout
  title="tsukie - tech, soul, and dream"
  description="Welcome to Tsukie, a blog where coding, life, and my indie hacker journey converge."
  ogUrl="https://tsukie.com/about"
  ogType="article"
>
  <Screen>
    <SideNavigation />
    <MainContent>
      <div class="grow md:flex space-y-8 md:space-y-0 md:space-x-8 pt-12 md:pt-16 pb-16 md:pb-20">
        <MiddleArea>
          <section>
            <h1 class="h1 font-aspekta mb-5"><Highlight>Tsukie</Highlight> - Coding x Indie 🤟</h1>
            <img class="w-full" src="/images/about.jpg" width="692" height="390" alt="About" />
            <ParagraphFromCms content={content} />
          </section>
        </MiddleArea>
        <RightSidebar>
          <WidgetNewsletter />
          <WidgetSponsor
            imageRotationClass="-rotate-1"
            title="My latest project"
            pjName="WallCal"
            img="/images/wallcal-screenshot.webp"
            pjDesc="The best sticky calendar on desktop background for macOS"
            link="https://wallcal.app/"
          />
        </RightSidebar>
      </div>
    </MainContent>
  </Screen>
</BaseLayout>
