---
import Highlight from "@/components/Highlight.astro";
---

<section>
  <div class="max-w-[700px]">
    <div class="pt-8 pb-10">
      <img
        class="rounded-full mb-5"
        src="/images/logo.png"
        width="56"
        height="56"
        alt="Me"
      />
      <h1 class="h1 font-aspekta mb-5">
        <Highlight>Tech</Highlight> Whiz, <Highlight>Soul</Highlight> Searcher, <Highlight
          >Dream</Highlight
        > Chaser
      </h1>
      <p class="text-lg text-slate-500 dark:text-slate-400">
        Welcome to <span class="font-medium text-sky-500">tsukie.com</span> — my corner
        of the internet.<br /> I write about shipping code, learning life the hard
        way, and trying (sometimes failing) to build something that matters.<br
        /> Yeah, I use AI to polish. So does everyone.<br /> But the stories, the
        screwups, the wins, the scars — that's all me.<br /> Legit, original, and
        100% human 😉
      </p>
    </div>
  </div>
</section>
