---
---
<div class="flex items-center mt-5">
  <div class="inline-flex -space-x-3 -ml-0.5">
    <img class="rounded-full border-2 border-white dark:border-slate-800 box-content" src="/images/avatar-01.jpg" width="24" height="24" alt="Avatar 01" />
    <img class="rounded-full border-2 border-white dark:border-slate-800 box-content" src="/images/avatar-01.jpg" width="24" height="24" alt="Avatar 02" />
    <img class="rounded-full border-2 border-white dark:border-slate-800 box-content" src="/images/avatar-01.jpg" width="24" height="24" alt="Avatar 03" />
    <img class="rounded-full border-2 border-white dark:border-slate-800 box-content" src="/images/avatar-01.jpg" width="24" height="24" alt="Avatar 04" />
    <img class="rounded-full border-2 border-white dark:border-slate-800 box-content" src="/images/avatar-01.jpg" width="24" height="24" alt="Avatar 05" />
  </div>
  <div class="text-sm text-slate-500 ml-3">Join 100K+ developers.</div>
</div>
