---
---
<div class="rounded-lg border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 odd:rotate-1 even:-rotate-1 p-5">
  <div class="text-center mb-8">
    <h3 class="font-aspekta font-[650] mb-1">Discover the coder's life balance!</h3>
    <p class="text-sm text-slate-500 dark:text-slate-400">Subscribe for insights on coding, life experiences, and my indie journey.</p>
  </div>
  <form method="post" action="https://listmonk.tsukie.com/subscription/form">
    <input type="hidden" name="nonce" />
    <div class="mb-2">
      <label class="sr-only" for="newsletter">Your email…</label>
      <input
        id="newsletter"
        name="email"
        type="email"
        class="form-input py-1 w-full"
        placeholder="Your email…"
        required
      />
    </div>
    <input type="checkbox" id="18871" name="l" value="18871bcb-292b-451c-b3a3-126779440e75" checked class="hidden" />
    <button class="btn-sm w-full text-slate-100 bg-sky-500 hover:bg-sky-600" type="submit">
      Subscribe
    </button>
  </form>
</div>
